h1{
    animation-name: ZoomTitolo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes ZoomTitolo {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(2);
    }
}

#hero a:hover {

animation-name: btnZoom;
animation-duration: 1.5s;
animation-timing-function: linear;
animation-delay: 0s;
animation-iteration-count: 1;
}

@keyframes btnZoom {
to{
    transform: rotate(360deg);
}

    }      

    .card{
        overflow: hidden;
    }

    .card img:hover{

    animation-name: cardZoom;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes cardZoom{
    from{
        filter: grayscale(100%);
    }
    to{
        transform: scale(2);
    }
}